files:
  "/etc/nginx/conf.d/static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /css/ {
        alias /var/app/current/public/css/;
        expires 1y;
        add_header Cache-Control "public, immutable";
      }
      
      location /js/ {
        alias /var/app/current/public/js/;
        expires 1y;
        add_header Cache-Control "public, immutable";
      }
      
      location /images/ {
        alias /var/app/current/public/images/;
        expires 1y;
        add_header Cache-Control "public, immutable";
      }