option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:158259501945:certificate/2f962499-1c64-42d2-a4a8-bec12c61db7c
  aws:elbv2:listener:80:
    Protocol: HTTP
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true