option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /css: public/css
    /js: public/js
    /images: public/images
    /fonts: public/fonts
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/01_static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /css/ {
          alias /var/app/current/public/css/;
          expires 1y;
          add_header Cache-Control "public, immutable";
          add_header Content-Type "text/css";
      }
      
      location /js/ {
          alias /var/app/current/public/js/;
          expires 1y;
          add_header Cache-Control "public, immutable";
          add_header Content-Type "application/javascript";
      }
      
      location /images/ {
          alias /var/app/current/public/images/;
          expires 1y;
          add_header Cache-Control "public, immutable";
      }
      
      location /fonts/ {
          alias /var/app/current/public/fonts/;
          expires 1y;
          add_header Cache-Control "public, immutable";
      }